export PROJECT_NAME="demo_restic_pg_dump"
export INSTANCE_ID=$(pwd | shasum -a 1 | awk '{print $1}' | cut -c 1-12) # Used to define docker volume path
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}

export AWS_ACCESS_KEY_ID=admin
export AWS_SECRET_ACCESS_KEY=password
